.footer {
  padding: 0; /* Remove padding around the footer if any */
}

.footer .row {
  margin-right: 0;
  margin-left: 0;
}

.footer .col-lg-2,
.footer .col-md-6 {
  padding-right: 0;
  padding-left: 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  margin: 0;
  padding: 0;
}
